In [1]:
import talib
import yfinance as yf

In [4]:
df = yf.download("GOOGL")
df

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker           GOOGL       GOOGL       GOOGL       GOOGL      GOOGL
Date
2004-08-19    2.499063    2.591713    2.389974    2.490595  893181924
2004-08-20    2.697563    2.716741    2.503048    2.515750  456686856
2004-08-23    2.724711    2.826327    2.715994    2.758335  365122512
2004-08-24    2.611887    2.779504    2.579509    2.770538  304946748
2004-08-25    2.640031    2.689843    2.587231    2.614129  183772044
...                ...         ...         ...         ...        ...
2025-04-17  151.160004  154.679993  148.500000  154.289993   32938500
2025-04-21  147.669998  148.949997  146.100006  148.880005   26049100
2025-04-22  151.470001  152.190002  148.539993  148.889999   26971800
2025-04-23  155.350006  157.529999  153.809998  155.610001   31128800
2025-04-24  159.279999  159.589996  155.789993  156.149994   45503700

[5204 rows x 5 columns]

In [6]:
import numpy as np
import pandas as pd

In [ ]:
Close = df['Close']['GOOGL'].to_numpy()

RSI = talib.RSI(Close,timeperiod=14)

array([        nan,         nan,         nan, ..., 43.35297283,
       47.69913207, 51.73815728])

In [12]:
buy_list = []
sell_list = []

for i in range(len(df)):
    buy = 0
    sell = 0
    if RSI[i] > 70:
        sell = 1
    if RSI[i] < 30:
        buy = 1
    buy_list.append(buy)
    sell_list.append(sell)

In [17]:
RSI_df = pd.DataFrame(RSI, columns=["RSI"], index=df.index)
buy_df = pd.DataFrame(buy_list, columns=["Buy_Signal_RSI"], index=df.index)
sell_df= pd.DataFrame(sell_list, columns=["Sell_Signal_RSI"], index=df.index)
df_merged = pd.concat([df,RSI_df,buy_df,sell_df], axis=1, join="inner" )
df_merged

,"(Close, GOOGL)","(High, GOOGL)","(Low, GOOGL)","(Open, GOOGL)","(Volume, GOOGL)",RSI,Buy_Signal_RSI,Sell_Signal_RSI
Date,,,,,,,,
2004-08-19,2.499063,2.591713,2.389974,2.490595,893181924,NaN,0,0
2004-08-20,2.697563,2.716741,2.503048,2.515750,456686856,NaN,0,0
2004-08-23,2.724711,2.826327,2.715994,2.758335,365122512,NaN,0,0
2004-08-24,2.611887,2.779504,2.579509,2.770538,304946748,NaN,0,0
2004-08-25,2.640031,2.689843,2.587231,2.614129,183772044,NaN,0,0
...,...,...,...,...,...,...,...,...
2025-04-17,151.160004,154.679993,148.500000,154.289993,32938500,41.624011,0,0
2025-04-21,147.669998,148.949997,146.100006,148.880005,26049100,38.722045,0,0
2025-04-22,151.470001,152.190002,148.539993,148.889999,26971800,43.352973,0,0
2025-04-23,155.350006,157.529999,153.809998,155.610001,31128800,47.699132,0,0
2025-04-24,159.279999,159.589996,155.789993,156.149994,45503700,51.738157,0,0

In [18]:
df_merged[(df_merged.index >= "2024-01-01") & (df_merged.index <= "2024-12-31")]

,"(Close, GOOGL)","(High, GOOGL)","(Low, GOOGL)","(Open, GOOGL)","(Volume, GOOGL)",RSI,Buy_Signal_RSI,Sell_Signal_RSI
Date,,,,,,,,
2024-01-02,137.512558,138.786466,135.830597,137.890755,23711200,54.928770,0,0
2024-01-03,138.258987,138.965616,136.427746,136.596935,24212100,56.794625,0,0
2024-01-04,135.741043,138.497867,135.701240,137.761383,27137700,49.369867,0,0
2024-01-05,135.084152,136.507356,134.506910,136.099303,22506000,47.620812,0,0
2024-01-08,138.179367,138.348556,135.611641,135.641497,21404000,55.602308,0,0
...,...,...,...,...,...,...,...,...
2024-12-24,195.884399,195.884399,193.557078,194.615856,10403300,65.881597,0,0
2024-12-26,195.375000,196.523671,194.156402,194.925505,12046600,65.065330,0,0
2024-12-27,192.538254,195.095322,190.430680,194.725737,18891400,60.565071,0,0
2024-12-30,191.020004,192.328495,188.902433,189.581658,14264700,58.243189,0,0
2024-12-31,189.082245,191.739189,188.293145,190.860196,17466900,55.327759,0,0

In [19]:
df_merged[df_merged["Buy_Signal_RSI"]==1]

,"(Close, GOOGL)","(High, GOOGL)","(Low, GOOGL)","(Open, GOOGL)","(Volume, GOOGL)",RSI,Buy_Signal_RSI,Sell_Signal_RSI
Date,,,,,,,,
2006-02-09,8.935507,9.324787,8.869258,9.245089,476019504,29.208884,1,0
2006-02-13,8.609987,8.732027,8.515096,8.633400,787923288,27.473686,1,0
2006-02-14,8.550711,8.759173,8.527798,8.600772,585573840,26.976874,1,0
2006-02-15,8.527299,8.617459,8.413977,8.499653,517362120,26.770965,1,0
2006-08-02,9.146214,9.393779,9.095654,9.354675,283628088,29.654703,1,0
...,...,...,...,...,...,...,...,...
2025-02-27,168.306168,174.359194,167.746814,173.789858,39991000,27.476449,1,0
2025-03-03,166.817871,173.170555,165.739112,171.732209,40770500,28.236782,1,0
2025-04-04,145.600006,151.070007,145.380005,148.009995,62259500,28.053338,1,0
2025-04-07,146.750000,152.850006,140.529999,141.550003,76794100,29.974157,1,0
2025-04-08,144.699997,152.240005,143.029999,151.220001,52200200,28.512791,1,0